.loader-wrapper,
.mobile-disable-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.loader, .mobile-disable {
    margin: auto;
    top: 50vh !important;
}

.mobile-disable-wrapper {
    background: #065f57;
}

.loader {
    border: 8px solid #c4cdbe;
    border-top: 8px solid #065f57;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 500ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
